
.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .checkoutProduct__info {
    padding-left: 20px;
  }
  
  .checkoutProduct__info > button {
    background: #ffd814;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;

    border: 0.5px solid;
    margin-top: 10px;
    height: 25px;
    border-radius: 8px;
    
  }
  
  
  .checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  
  .checkoutProduct__rating {
    display: flex;
    color: #f0c14b;

  }
  
  .checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
  }
  
 